<div style="margin:0 auto; padding:10px; background: #5BAD46;">
    <a style="padding:10px; color:black;" [routerLink]="'/'">Accueil</a>
</div>
<div class="container" style="width:
  75%; margin-top: 50px;">
    <h2>Le défi Alimentaire</h2>

    <p class="main-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quasi? Odit delectus, molestias qui soluta accusamus veniam esse fuga repudiandae, quae pariatur dicta non error molestiae. Ullam blanditiis dolor est? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ab labore beatae corrupti cupiditate soluta corporis necessitatibus dolorem perspiciatis, illo maxime inventore quia hic atque doloribus expedita. Obcaecati, cum atque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, quidem enim illum, id odio alias, praesentium ea tenetur consequuntur vero explicabo voluptates fugiat iste qui. Quia vero nemo atque nam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam suscipit eos adipisci ab ad, quae laboriosam iusto veritatis a alias aliquid. Laborum ut itaque saepe eos repellendus laudantium perferendis reiciendis.
    </p>
      <app-form></app-form>