<div style="margin:0 auto; padding:10px; background: rgb(188, 248, 188);">
    <a style="padding:10px; color:black;" [routerLink]="'/'">Accueil</a>
</div>
<div class="container" style="width:
  75%; margin-top: 50px;">
    <h2>Le défi Zéro Déchet</h2>

    <p class='main-text'>Les préparatifs du Défi zéro déchet, Saison 2 sont lancés !
      L’ équipe se concentre sur deux activités principales : le cadrage du défi et la communication auprès des acteurs de la commune et du département, qui permettra aussi d’avancer dans le recrutement des nouveaux
      participants. Ainsi, nous sollicitons votre aide pour relayer ces informations sur les moyens à votre disposition. Vos contributions seront précieuses pour la réussite de notre campagne de communication.
      Suivez nous dans cette belle aventure ! Globalement, la communication devient cette année un axe important
      des actions du groupe Zéro Déchet Alfortville : ce défi est surtout un moyen d’inviter les gens à passer à l’action face à la problématique de la production de déchets et de montrer aux citoyens que changer leurs habitudes par rapport aux déchets peut être simple, même ludique et leur apporter des bénéfices !</p>
      <p class='main-text'>Les préparatifs du Défi zéro déchet, Saison 2 sont lancés !
        L’ équipe se concentre sur deux activités principales : le cadrage du défi et la communication auprès des acteurs de la commune et du département, qui permettra aussi d’avancer dans le recrutement des nouveaux
        participants. Ainsi, nous sollicitons votre aide pour relayer ces informations sur les moyens à votre disposition. Vos contributions seront précieuses pour la réussite de notre campagne de communication.
        Suivez nous dans cette belle aventure ! Globalement, la communication devient cette année un axe important
        des actions du groupe Zéro Déchet Alfortville : ce défi est surtout un moyen d’inviter les gens à passer à l’action face à la problématique de la production de déchets et de montrer aux citoyens que changer leurs habitudes par rapport aux déchets peut être simple, même ludique et leur apporter des bénéfices !</p>
        <p class='main-text'>Les préparatifs du Défi zéro déchet, Saison 2 sont lancés !
            L’ équipe se concentre sur deux activités principales : le cadrage du défi et la communication auprès des acteurs de la commune et du département, qui permettra aussi d’avancer dans le recrutement des nouveaux
            participants. Ainsi, nous sollicitons votre aide pour relayer ces informations sur les moyens à votre disposition. Vos contributions seront précieuses pour la réussite de notre campagne de communication.
            Suivez nous dans cette belle aventure ! Globalement, la communication devient cette année un axe important
            des actions du groupe Zéro Déchet Alfortville : ce défi est surtout un moyen d’inviter les gens à passer à l’action face à la problématique de la production de déchets et de montrer aux citoyens que changer leurs habitudes par rapport aux déchets peut être simple, même ludique et leur apporter des bénéfices !</p>

      <app-form></app-form>