<header>
    <h1 class="main-title"> Nos défis </h1>
    <ul>
      <li>Blog</li>
      <li>Se connecter</li>
      <li>S'inscrire</li>
    </ul>
</header>


<div id="back-img" style="background: url('assets/bg.png'); background-size: cover;height:70px;"></div>

<div id="main" class="parallax-window" data-parallax="scroll" data-image-src="assets/test.png" class="bloc" >
    <!-- class="parallax-window" data-parallax="scroll" data-image-src="assets/bg.png" -->
  <h2 class="main-title"> En savoir plus sur nos projets et défis</h2>
  
  <app-carousel></app-carousel>

  <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda exercitationem beatae ducimus repellendus corrupti sed ratione, placeat porro officia nemo id nesciunt, vitae consectetur ab mollitia culpa omnis quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos dignissimos eligendi sequi aperiam ex. Facilis corrupti nesciunt nisi sunt! Repudiandae, deleniti! Esse ab ipsum quis optio eveniet fuga autem.</p>

  <div id="main-button">

    <button class="btn-home" id="btn1">DEFI ZERO DECHET</button>
    <button class="btn-home" id="btn2">DEFI ALIMENTAIRE</button>

  </div>

</div>

<div id="second" class="bloc-defi">
    <img src="assets/rocket.png" style="width:100px; float:left;" alt="rocket" data-aos="slide-up" data-aos-duration="1000" />
  <h2 class="main-title">Défi Zéro Déchet</h2>

  

  <div class="container" style="width:
  75%;">
      <div class="row">
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt=""/>
          <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi nihil magni molestiae commodi quaerat, minima fugit totam saepe tempore eaque repellendus ea! Velit magni fugit blanditiis quidem aliquam consectetur!</p>
        </div>
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt=""/>
          <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi nihil magni molestiae commodi quaerat, minima fugit totam saepe tempore eaque repellendus ea! Velit magni fugit blanditiis quidem aliquam consectetur!</p>
        </div>
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt=""/>
          <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi nihil magni molestiae commodi quaerat, minima fugit totam saepe tempore eaque repellendus ea! Velit magni fugit blanditiis quidem aliquam consectetur!</p>
        </div>
      </div>
    </div>

    <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium modi obcaecati nostrum harum possimus ab officiis, et, quae reprehenderit corporis quibusdam repellat cupiditate distinctio. Eum illo dolorem temporibus corporis asperiores? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur laudantium voluptates facere nostrum itaque temporibus natus, unde deserunt explicabo modi officiis provident. Magni cumque eveniet maxime facere necessitatibus esse dignissimos!</p>

  <form>
    <p class='main-text'>Recevoir la newsletter
      <input style="width: 25vw;" type="email" class="form-control" placeholder="Enter email">

      <button type="submit" class="btn btn-success">Envoyer</button>
    </p>
  </form>

</div>

<div id="third" class="bloc-defi">

  <h2 class="main-title">Défi Alimentaire</h2>

  <p class='main-text'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iure, nobis quo natus sequi eos iste velit maiores explicabo aspernatur maxime et quia ipsam magni dolore saepe. Enim, odit magni.</p>

  <p class='main-text'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iure, nobis quo natus sequi eos iste velit maiores explicabo aspernatur maxime et quia ipsam magni dolore saepe. Enim, odit magni.</p>

  

</div>

<router-outlet></router-outlet>