<header>
    <h1 class="main-title"> Nos défis </h1>
    <ul>
      <li>Blog</li>
      <li>Se connecter</li>
      <li>S'inscrire</li>
    </ul>
</header>


<div id="back-img" style="background: url('assets/bg.png'); background-size: cover;height:70px;"></div>

<div id="main" class="parallax-window" data-parallax="scroll" data-image-src="assets/test.png" class="bloc" >
    <!-- class="parallax-window" data-parallax="scroll" data-image-src="assets/bg.png" -->
  <h2 class="main-title"> En savoir plus sur nos projets et défis</h2>
  
  <!-- <app-carousel></app-carousel> -->

  <p class='main-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, assumenda exercitationem beatae ducimus repellendus corrupti sed ratione, placeat porro officia nemo id nesciunt, vitae consectetur ab mollitia culpa omnis quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eos dignissimos eligendi sequi aperiam ex. Facilis corrupti nesciunt nisi sunt! Repudiandae, deleniti! Esse ab ipsum quis optio eveniet fuga autem.</p>

  <div id="main-button">

    <button class="btn-home" id="btn1">DEFI ZERO DECHET</button>
    <button class="btn-home" id="btn2">DEFI ALIMENTAIRE</button>

  </div>

</div>

<div id="second" class="parallax-window" data-parallax="scroll" data-image-src="assets/bg-2.jpg" class="bloc-defi">
    <img src="assets/rocket.png" style="width:100px; float:left;" alt="rocket" data-aos="slide-up" data-aos-duration="1000" />
  <h2 class="main-title">Défi Zéro Déchet</h2>

  

  <div class="container" style="width:
  75%;">
      <div class="row">
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="assets/banner.png" alt=""/>
          <p class='main-text'>L’équipe du groupe Zéro Déchet à Alfortville est constitué par des bénévoles faisant partie de trois associations alfortvillaises : J'aime le Vert, La Cour Cyclette et Alternatiba Alfortville.</p>
        </div>
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt=""/>
          <p class='main-text'>En octobre dernier, 15 foyers alfortvillais ont relevé le défi de la réduction de leurs déchets. En 6 mois, et grâce à l’accompagnement d’une équipe de bénévoles, ils essayeraient de réduire de 25% le poids global de leursdéchets, y compris les recyclables !</p>
        </div>
        <div class="col-sm">
          <img data-aos="zoom-in" style="width:100%;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt=""/>
          <p class='main-text'>Regroupés en équipes, ils ont tous atteint voire dépassé l’objectif de réduction. En octobre, le poids total des poubelles des 15 foyers était de 428 kg. En mars, ce poids était de 272 kg, ce qui représente 156 kg en moins sans l’utilisation des mesures coercitives.</p>
        </div>
      </div>
    </div>

    <p class='main-text'>Les préparatifs du Défi zéro déchet, Saison 2 sont lancés !
      L’ équipe se concentre sur deux activités principales : le cadrage du défi et la communication auprès des acteurs de la commune et du département, qui permettra aussi d’avancer dans le recrutement des nouveaux
      participants. Ainsi, nous sollicitons votre aide pour relayer ces informations sur les moyens à votre disposition. Vos contributions seront précieuses pour la réussite de notre campagne de communication.
      Suivez nous dans cette belle aventure ! Globalement, la communication devient cette année un axe important
      des actions du groupe Zéro Déchet Alfortville : ce défi est surtout un moyen d’inviter les gens à passer à l’action face à la problématique de la production de déchets et de montrer aux citoyens que changer leurs habitudes par rapport aux déchets peut être simple, même ludique et leur apporter des bénéfices !</p>
  <form>
    <div class='news-text'>
      <span class="news-title">Recevoir la newsletter <i class="fas fa-envelope"></i></span>
      <input style="width: 25vw;" type="email" class="form-control" placeholder="Enter email">

      <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
  </form>

</div>

<div id="third" class="bloc-defi">

  <h2 class="main-title">Défi Alimentaire</h2>

  <p class='main-text'>L'objectif général de ce projet est de lancer une dynamique citoyenne autour de
    l'alimentation positive pour la santé et l'environnement (mieux se nourrir, réduire le
    gaspillage alimentaire, adopter des pratiques écoresponsables) dans le Val-de Marne et
    plus largement en Île-de-France.
  </p>

  <p class='main-text'>Des actions de sensibilisation autour de
    l'alimentation seront organisées tout au long du
    projet envers des familles, des commerçants, des
    entreprises, et des organismes publics. Les
    personnes touchées par ces actions seront
    amenées à se questionner sur l’impact de
    l’alimentation sur la santé et sur l’environnement
    et seront encouragées à changer leurs pratiques
    alimentaires.
  </p>

  <form>
    <div class='news-text'>
      <span class="news-title">Recevoir la newsletter <i class="fas fa-envelope"></i></span>
      <input style="width: 25vw;" type="email" class="form-control" placeholder="Enter email">

      <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
  </form>

  <div id="logo-list">
    <img src="assets/logo-zerodechet.png" alt=""/>
    <img src="assets/logo-alternatiba.jpg" alt=""/>
    <img src="assets/logo-jaimelevert.jpg" alt=""/>
    <img src="assets/logo-courcyclette.png" alt=""/>
  </div>

  

</div>

<footer> J'aime le Vert - ECV Digital <br/> 2019-2020</footer>

<router-outlet></router-outlet>